<ion-view view-title="Fragen" hide-back-button="true">
<nav-page hide-back-button="true">
  <ion-content ng-class="{'has-footer': settings.testmode}">
    <div class="row">
   		<div class="col text-center"><h4>{{questiongroup.name}}</h4></div>
	</div>
	 
	 
	 <div ng-repeat="question in questions">
        <div ng-switch on="question.type">	
  			<div ng-switch-when="BOOLEAN">
  				<h4>{{question.text}}</h4>		
  				<label class="item item-input item-stacked-label">
	    			<ion-radio ng-model="question" ng-value="true">Ja</ion-radio>
					<ion-radio ng-model="question" ng-value="false">Nein</ion-radio>
				</label>
  			</div>
  			<div ng-switch-when="NUMERIC">
  				<h4>{{question.text}}</h4>
    			<label class="item item-input item-stacked-label">
					<input type="tel" ng-model="question.answer">
				</label>
  			</div>
  			<div ng-switch-when="SINGLECHOICE">
    			<p>Singlechoice</p>
  			</div>
  			<div ng-switch-when="SLIDER">
    			
    			<div class="item range">
  					<p>{{question.min | number:0}}</p>
  						<input type="range" name="test" min="{{question.min | number:0}}" max="{{question.max | number:0}}" step="{{question.step | number:0}}">
  					<p>{{question.max | number:0}}</p>
				</div>
  			</div>
  			<div ng-switch-when="MULTICHOICE">
    			<p>Multichoice</p>
  			</div>
  			<div ng-switch-when="MOODMAP">
    			<p>Circumplex</p>
  			</div>
  			<div ng-switch-when="TEXT">
				<label class="item item-input">
					<span class="input-label">Username</span>
				  	<input type="text">
				</label>
  			</div>

		</div>     
	</div>   
	  
  </ion-content>
  <ion-footer-bar class="bar-energized" ng-if="settings.testmode">
  	<h1 class="title">Testmodus</h1>
  </ion-footer-bar>
</ion-view>
