<ion-view view-title="Studienübersicht">
  
  <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="synchronizeData()">
        <i class="icon ion-refresh"></i>
      </button>
    </ion-nav-buttons>
  <ion-content ng-class="{'has-footer': settings.testmode}">
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="substudy in substudies" ng-show="settings.testmode || substudy.triggertype === 'EVENT'" ng-click="loadSubstudy(substudy.substudy_id)">
        {{ substudy.substudy_title }}
        <ion-option-button class="button-light icon ion-ios-information-outline" ng-click="showSubstudyInfo(substudy.substudy_id)"></ion-option-button>
      </ion-item>
      <ion-item ng-hide="hasSubstudies">
        Es konnten keine Studien gefunden werden
      </ion-item>
    </ion-list>
  <button class="button button-block icon-left ion-plus-circled button-positive" ng-click="showNewStudy()">Neue Studie hinzufügen</button>	
    <h1>{{settings.testmode}}</h1>
  <button class="button button-block" ng-click="resetDatabase()">Reset Database</button>  
  <button class="button button-block" ng-click="testHttp()">Test http stuff</button>
  <button class="button button-block" ng-click="testDataImport()">Test Data Import</button>
  <button class="button button-block" ng-click="testDatabaseAccess()">Test Database</button> 
  <button class="button button-block" ng-click="testLocalNotification()">Test Local Notification</button>  
  </ion-content>
  <ion-footer-bar class="bar-energized" ng-if="settings.testmode">
  	<h1 class="title">Testmodus</h1>
  </ion-footer-bar>
</ion-view>
