/* Empty. Add your own CSS if you like */

/*.col{
  background-color:gray;
  border:thin solid black;
  text-align:center;
}*/


.item-input{
  display: block;
}


.input-label {
max-width: 100%;
width: 100%;
}


.item-select select {
position: relative;
}


.item-select:after {
top: 60%;

}

.question-text {
	color: #444;
	font-size: 14px;
	font-weight: normal;
}